In [11]:
print('OLa mundo')

OLa mundo

In [16]:
import pandas as pd

tabela = pd.DataFrame(
    {'nome': ['ismael'],
    'idade': [19]}
)
display(tabela)

     nome  idade
0  ismael     19